name: 'Auto check in sockboom'

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  schedule:
    - cron: '0 17 * * *' # UTC+8小时=北京时间 17代表凌晨一点
  watch:
    types: [started]
   
jobs:
  checking:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
    - name: Get log
      uses: actions/checkout@master
    - name: Chick in Api #Api调用
      env:
        SESSION: ${{ secrets.SESSION }}
      run: | 
        echo -n `date +%Y-%m-%d\ %H:%M:%S`\ -\ >> ./run.log 
        curl curl https://api.sockboom.cc/client/checkin?token="$TOKEN" >> ./run.log
        echo >> ./run.log
        tail run.log #避免日志上传失败丢失日志
    - name: Commit #上传日志到仓库，可以自行修改 name 和 email
      env:
       NAME: moreant
       EMAIL: moreant@foxmail.com
      run: |
        git config --global user.email "$EMAIL"
        git config --global user.name "$NAME"
        git add .
        git commit -m "update log" -a
    - name: Push log
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
